@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@font-face {
  font-family: "Antarctican Mono";
  src: url("https://oscarge.github.io/La-intenci-n-Text-fonts/AntarcticanMono-Book.ttf")
    format("opentype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #172951;
  background-image: url("/LMYNL-WT-preSave-deskBack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Antarctican Mono", monospace;
  font-optical-sizing: auto;
  height: 100vh;
  overflow-y: auto;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.header h1 {
  color: #ffffff;
  font-size: 6em;
  font-family: "Antarctican Mono", monospace;
  font-weight: 200;
  line-height: 1;
  padding: 0px;
  margin: 0px;
}

.header h2 {
  color: #ffffff;
  font-size: 1.5em;
  font-family: "Antarctican Mono", monospace;
  font-weight: 200;
  line-height: 1;
  padding: 0px;
  margin: 0px;
  font-style: italic;
}

.header h2 span {
  font-style: normal;
  font-weight: 800;
  font-size: 1.7em;
}

.playlist-creator-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#step-1 {
  display: flex;
  flex-direction: column;
}
#step-2 {
  display: none;
  flex-direction: column;
}
#step-3 {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
#step-4 {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.steps {
  width: 100%;
  display: none;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.steps.show {
  display: flex;
  animation-name: fadeInDown;
}

.steps.hide {
  animation-name: fadeOutUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.step-title {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  gap: 10px;
  font-size: 20px;
}

.step-title p:nth-of-type(1) {
  font-weight: 800;
}

.step-title p:nth-of-type(2),
.step-title p:nth-of-type(3) {
  font-weight: 200;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons > div {
  flex: 1;
}

input[type="text"] {
  display: block;
  width: 100%;
  border: 3.5px solid #ffffff;
  height: 3.5em;
  margin: 0 auto;
  padding: 0 0.6em;
  background-color: transparent;
  border-radius: 12px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1.3em;
  font-family: "Antarctican Mono", monospace;
  font-weight: 500;
}

input[type="text"]::placeholder {
  text-align: center;
  color: #ffffff;
  font-weight: 100;
}

input[type="text"]:focus {
  outline: none;
}

#song-results {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 136px;
  width: 100%;
  max-height: 13em;
  background-color: #ffffff;
  border-radius: 12px;
  color: #172951;
  font-size: 1.3em;
  font-family: "Antarctican Mono", monospace;
  font-weight: 100;
  overflow-y: auto;
  animation: slideDown 0.4s ease-in-out forwards;
  box-sizing: border-box;
  z-index: 2;
  box-shadow: 5px 6px 10px 5px rgba(48, 38, 38, 0.32);
}

#song-results div {
  padding: 21px 14px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #172951;
  text-align: left;
}

#song-results div:hover {
  background-color: #f0f0f0;
}

#song-results::-webkit-scrollbar,
#playlist::-webkit-scrollbar {
  width: 10px;
}

#song-results::-webkit-scrollbar-thumb,
#playlist::-webkit-scrollbar-thumb {
  background-color: #172951;
  border-radius: 12px;
}

#song-results::-webkit-scrollbar-track,
#playlist::-webkit-scrollbar-track {
  background-color: transparent;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(5px);
  }
}

#selected-songs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  color: #172951;
  box-sizing: border-box;
  padding: 0.8em;
}

#number-songs {
  font-weight: 800;
  font-size: 1.3em;
}

#holdrag-txt {
  display: none;
  font-weight: 200;
  font-size: 1em;
  font-style: italic;
  line-height: 1;
  padding: 0;
  margin: 0;
}

#playlist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 16em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#playlist li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 1.2em);
  height: 100%;
  margin: 0em 0.6em;
  padding: 1em 0em;
  border-bottom: 1px solid #172951;
  white-space: pre-wrap;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 1.3em;
  font-weight: 600;
  text-align: left;
}

#playlist li.dragging {
  opacity: 0.5;
}

#playlist li.move-up {
  animation: moveUp 0.2s forwards;
}

#playlist li.move-down {
  animation: moveDown 0.2s forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.song-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.song-content .song-number {
  text-align: right;
  margin: 0px 4px 0px 15px;
  flex-shrink: 0;
}

#playlist .remove-button {
  background-color: transparent;
  color: #172951;
  border: none;
  padding: 6px 10px 0px 10px;
  cursor: pointer;
}

#playlist .remove-button:hover {
  color: #ff1f2e;
}

#playlist .drag-icon {
  background-color: transparent;
  color: #172951;
  cursor: grab;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.drag-icon,
.li-song {
  touch-action: none;
}

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 1.75px solid #172951;
  height: 5em;
  margin: 0 auto;
  padding: 0 0.8em;
  background-color: #ffffff;
  border-radius: 40px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.secondary-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1.75px solid #191919;
  border-radius: 40px;
  z-index: 1;
}

.secondary-button span {
  color: #172951;
  font-size: 1.4em;
  font-family: "Antarctican Mono", monospace;
  font-weight: 900;
}

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 1.75px solid #ffffff;
  height: 5em;
  margin: 0 auto;
  padding: 0 0.8em;
  background-color: transparent;
  border-radius: 40px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.primary-button::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1.75px solid #ffffff;
  border-radius: 40px;
  z-index: -1;
}

.primary-button svg {
  overflow: visible;
  box-sizing: content-box;
  width: 2.1em;
  height: 2.1em;
  font-size: 1em;
  margin-right: 1em;
}

.primary-button span {
  color: #ffffff;
  font-size: 1.4em;
  font-family: "Antarctican Mono", monospace;
  font-weight: 900;
}

#try-again-button {
  width: 100%;
}

#create-button,
#back-3-button {
  width: 100%;
}

.preview-playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 400px;
  background-color: #85848469;
  box-sizing: border-box;
  padding: 20px 14px;
  transform: rotate(354deg);
  position: relative;
}
.preview-playlist img {
  width: 100%;
  height: fit-content;
}

#name-of-playlist,
#name-of-playlist-2 {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 0.7em;
  font-family: "Antarctican Mono", monospace;
  font-weight: 400;
  text-align: center;
}

#step-3 > div:nth-child(2) {
  width: 100%;
}

#step-4 > div:nth-child(2) {
  width: 100%;
}
#playlist-url {
  box-sizing: border-box;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  white-space: normal;
  font-size: 0.7em;
  color: #c4c4c4;
  width: 100%;
  max-width: 300px;
  display: block;
  text-align: left;
}

@media (max-width: 900px) {
  .header {
    zoom: 80%;
  }
  .playlist-creator-container {
    flex: 2;
  }
}

@media (max-width: 700px) {
  .app-container {
    flex-direction: column;
    height: auto;
    row-gap: 30px;
  }
  .header {
    zoom: 80%;
  }
  .playlist-creator-container {
    zoom: 80%;
  }
  .preview-playlist {
    zoom: 100%;
  }
  #step-3,
  #step-4 {
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 340px) {
  .header {
    zoom: 50%;
  }
  .playlist-creator-container {
    zoom: 65%;
  }
  #step-3,
  #step-4 {
    flex-direction: column-reverse;
    gap: 50px;
  }
}

@media (max-width: 280px) {
  .playlist-creator-container {
    zoom: 50%;
  }
}
